################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Demos/.vs/Demos
/Demos/Week02DemoA/.vs
/Demos/.vs/COSC2100_05_Demos
/Demos/Week06DemoA_DroidFactory/.vs
